<div class="section-contents">
  <div class="inner-wrapper">
    <h2 class="contents__title">YOUR JOURNEY STARTS HERE</h2>
    <a href="message.php" class="contents__subtitle"><h3>Message from the President</h3></a>
    <section class="priority-list">
      <a class="priority-list__name" href="priority.php"><h4>Section One: Student’s First</h4></a>
      <p>Provide an inclusive and engaged living-learning environment where all students thrive and graduate as informed citizens committed to a life of impact</p>
    </section>
    <section class="priority-list">
      <a class="priority-list__name" href="priority.php"><h4>Section Three: Global Competitiveness</h4></a>
      <p>Advance Kent State’s impact and reach as a leading
      international university</p>
    </section>
    <section class="priority-list">
      <a class="priority-list__name" href="priority.php"><h4>Section Five: Organizational Stewardship</h4></a>
      <p>Ensure a culture of continuous improvement and the e cient stewardship of university resources and infrastructure</p>
    <section class="priority-list">
      <a class="priority-list__name" href="priority.php"><h4>Section Two: A Distinctive Kent State</h4></a>
      <p>Drive innovation, idea generation and national distinction through top-tier academic and research programs including the recruitment and support of talented faculty and sta</p>
    </section>
    <section class="priority-list">
      <a class="priority-list__name" href="priority.php"><h4>Section Four: Regional Impact</h4></a>
      <p>Serve as the innovative engine and engaged partner to meet community needs and enhance quality of life in the region and state</p>
    </section>
    <a href="#" class="button">TOP 10 HIGHLIGHTS FROM 2015-16</a>
    <a href="#" class="button">2015-16 ANNUAL REPORT SUMMARY</a>
  </div>
</div>
