<div class="section-default">
    <div class="inner-wrapper">
      <h2>GALLERY: STUDENT LIFE</h2>
      <section id="gallery" class="gallery owl-carousel">
        <figure class="gallery__item">
          <img class="gallery__item__image" src="../../assets/img/photo.jpg" alt="Photo Caption" />
          <figcaption>
            <h3 class="gallery-caption__title">Video/Photo Gallery Title</h3>
            <p class="gallery-caption__description">This is a description of the video or photo gallery.</p>
          </figcaption>
        </figure>
        <figure class="gallery__item">
          <img class="gallery__item__image" src="../../assets/img/photo.jpg" alt="Photo Caption" />
          <figcaption>
            <h3 class="gallery-caption__title">Video/Photo Gallery Title</h3>
            <p class="gallery-caption__description">This is a description of the video or photo gallery.</p>
          </figcaption>
        </figure>
        <figure class="gallery__item">
          <img class="gallery__item__image" src="../../assets/img/photo.jpg" alt="Photo Caption" />
          <figcaption>
            <h3 class="gallery-caption__title">Video/Photo Gallery Title</h3>
            <p class="gallery-caption__description">This is a description of the video or photo gallery.</p>
          </figcaption>
        </figure>
        <figure class="gallery__item">
          <img class="gallery__item__image" src="../../assets/img/photo.jpg" alt="Photo Caption" />
          <figcaption>
            <h3 class="gallery-caption__title">Video/Photo Gallery Title</h3>
            <p class="gallery-caption__description">This is a description of the video or photo gallery.</p>
          </figcaption>
        </figure>
        <figure class="gallery__item">
          <img class="gallery__item__image" src="../../assets/img/photo.jpg" alt="Photo Caption" />
          <figcaption>
            <h3 class="gallery-caption__title">Video/Photo Gallery Title</h3>
            <p class="gallery-caption__description">This is a description of the video or photo gallery.</p>
          </figcaption>
        </figure>
        <figure class="gallery__item">
          <img class="gallery__item__image" src="../../assets/img/photo.jpg" alt="Photo Caption" />
          <figcaption>
            <h3 class="gallery-caption__title">Video/Photo Gallery Title</h3>
            <p class="gallery-caption__description">This is a description of the video or photo gallery.</p>
          </figcaption>
        </figure>
    </section>
  </div>
</div>
