<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>President's Strategic Initiative Report</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
    <div class="page-wrapper">
    	<header role="banner">
        <div class="header-logo">
          <img src="../../assets/img/kentstate-logo.svg" alt="Kent State University" />
        </div>
        <h1 class="header-title">A Strategic Roadmap <strong>To A Distinctive Kent State</strong></h1>
    	</header>
      <main>
