<nav id="menu" class="menu oc-push" role="navigation">
  <ul class="primary-menu">
    <li><a id="firstitem" class="menu__item__link" href="message.php">Message from the President</a></li>
    <li><a class="menu__item__link" href="contents.php">Contents</a></li>
    <li><a class="menu__item__link" href="priority.php">Section One: Students First</a></li>
    <li><a class="menu__item__link" href="priority2.php">Section Two: A Distinctive Kent State</a></li>
    <li><a class="menu__item__link" href="priority.php">Section Three:</a></li>
    <li><a class="menu__item__link" href="priority.php">Section Four:</a></li>
    <li><a class="menu__item__link" href="priority.php">Section Five:</a></li>
    <li><a class="menu__item__link" href="priority.php">Section Six:</a></li>
  </ul>
  <ul class="secondary-menu">
    <li><a class="menu__item__link" href="#">University Dashboard</a></li>
    <li><a class="menu__item__link" href="#">2015-16 Annual Report (PDF)</a></li>
    <li><a class="menu__item__link" href="#">Priorities and ULIs (PDF)</a></li>
  </ul>
  <button id="close-button">Close Menu</button>
</nav>
