<nav id="menu" class="menu oc-push" role="navigation">
  <ul class="primary-menu">
    <li><a href="#">Message from the President</a></li>
    <li><a href="#">Section One: Students First</a></li>
    <li><a href="#">Section Two:</a></li>
    <li><a href="#">Section Three:</a></li>
    <li><a href="#">Section Four:</a></li>
    <li><a href="#">Section Five:</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  <ul class="secondary-menu">
    <li><a href="#">2015-16 Annual Report</a></li>
    <li><a href="#">Priorities and ULIs</a></li>
    <li><a href="#">University Dashboard</a></li>
</nav>
