<nav id="menu" class="menu oc-push" role="navigation">
  <ul class="primary-menu">
    <li><a class="menu__item__link" href="message.php">Message from the President</a></li>
    <li><a class="menu__item__link" href="priority.php">Section One: Students First</a></li>
    <li><a class="menu__item__link" href="priority.php">Section Two:</a></li>
    <li><a class="menu__item__link" href="priority.php">Section Three:</a></li>
    <li><a class="menu__item__link" href="priority.php">Section Four:</a></li>
    <li><a class="menu__item__link" href="priority.php">Section Five:</a></li>
    <li><a class="menu__item__link" href="#">Contact Us</a></li>
  </ul>
  <ul class="secondary-menu">
    <li><a class="menu__item__link" href="#">2015-16 Annual Report</a></li>
    <li><a class="menu__item__link" href="#">Priorities and ULIs</a></li>
    <li><a class="menu__item__link" href="#">University Dashboard</a></li>
</nav>
