<figure class="splash">
  <picture>
              <!-- Add Fallback for IE9 -->
              <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="../../assets/img/home-large.png" media="(min-width: 800px)">
              <!--[if IE 9]></video><![endif]-->
                <img class="splash-image" srcset="../../assets/img/home-default.png" alt="Man Riding Bike" />
  </picture>
  <figcaption class="splash-headline">
    <h2 class="splash-headline__container"><span class="splash-headline__level1">A Strategic Roadmap to</span><span class="splash-headline__level2">a Distinctive</span><span class="splash-headline__level3">Kent State</span></h2>
  </figcaption>
</figure>
