<section class="feature-teaser">
  <a class="feature-teaser__link" href="story.php">
    <div class="feature-teaser__link__text">
      <h3 class="feature-teaser__header">Feature Story</h3>
      <h4 class="feature-teaser__headline">A USER’S GUIDE TO A MORE MINDFUL LIFE</h4>
      <p class="feature-teaser__summary">Tem ratecto ex et reratqui nosaerunt. Dus dolupta autamus dolor arioreml ibustinctor sanis, more</p>
    </div>
    <div class="feature-teaser__link__image">
      <img alt="teaser image" src="../../assets/img/headshot.jpg" />
    </div>
  </a>
</section>
