VISION
To be a community of change agents whose collective commitment to learning sparks epic thinking, meaningful voice and invaluable outcomes to better our society.
MISSION
We transform lives and communities through the power of discovery, learning and creative expression in an inclusive environment.
CORE VALUES
▪ A distinctive blend of teaching, research and creative excellence
▪ Active inquiry and discovery that expands knowledge and human understanding
▪ Life-changing educational experiences for students with wide-ranging talents and aspirations
▪ A living-learning environment that creates a genuine sense of place
▪ Engagement that inspires positive change ▪ Diversity of culture, beliefs, identity
and thought
▪ Freedom of expression and the free exchange of ideas
▪ A collaborative community
▪ Respect, kindness and purpose in all we do
