<div class="section-default">
    <div class="inner-wrapper">
      <figure class="gallery">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ICJUFoXqk3E" frameborder="0" allowfullscreen></iframe>
        <figcaption class="gallery-caption">
          <h3 class="gallery-caption__title">Video/Photo Gallery Title</h3>
          <p class="gallery-caption__description">This is a description of the video or photo gallery.</p>
        </figcaption>
      </figure>
    </div>
</div>
