@keyframes spin {
  from {
    opacity: 0;
    transform: rotate(0deg);
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: rotate(15deg);
  }
}

@keyframes zoomFade {
  from {
    transform: translate3d(0, 30px, 30px);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0px, 0px);
    opacity: 1;
  }
}

@keyframes zoomFadeReverse {
  from {
    transform: scale(1);
    opacity: 0;
  }

  to {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

 @keyframes slider {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes point {
 from {
   transform: translate3d(-10px, 0, 0);
   opacity: 0;
   visibility: visible;
 }

 to {
   transform: translate3d(0, 0, 0);
   opacity: 1;
 }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


// Animation Execute //

.splash {
  &:after {
    animation: spin 6.5s ease-in-out forwards;
    animation-delay: .5s;
    animation-fill-mode: both;
  }
}

.splash-image {
  animation: zoomFadeReverse 5s ease-in-out;
  animation-fill-mode: both;
}

.splash-headline {
  animation: zoomFade 4s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.start-link {
  animation: fadeIn 2s ease-in-out;
  animation-delay: 6s;
  animation-fill-mode: both;
  &:after {
    animation: point 1.5s infinite linear alternate;
  }
}
