body {
  @include NationalLight;
  background: url(../../assets/img/compass.svg), $gradient;
  background-repeat: no-repeat;
  background-position: bottom left;
}

main {
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,.8);
  min-height: 200px;
}
