body {
  @include NationalLight;
  background-image: $gradient;
  @media #{$medium} {
    background-image: url(../../assets/img/compass.svg), url(../../assets/img/zig-zag.svg), $gradient;
    background-repeat: no-repeat;
    background-position: bottom left, top right, bottom left;
    background-size: 25% auto, cover, cover;
  }
}

main {
  background-color: transparent;
  box-shadow: 2px 2px 5px rgba(0,0,0,.8);
  min-height: 200px;
}

.section-default {
  background-color: rgba($blue,.8);
}

.section-dark {
  background-color: rgba(black,.8);
}
