.button {
  background-color: $blue;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  @include NationalBlackItalic;
  margin-top: 2em;
  display: inline-block;
  margin-right: .5em;
  @media #{$medium} {
    font-size: 1.2em;
  }
}

.button--gold {
  color: $gold;
}
