header, footer {
  padding: $globalpadding*2;
  @media #{$large} {
    padding: $globalpadding*2 0;
  }
}

.page-wrapper {
  max-width: 1150px;
  margin: 0 auto;
}

.inner-wrapper {
  padding: .5em $globalpadding*2 $globalpadding*2 $globalpadding*2;
  margin: 0 auto;
}
