html {
  height: 100%;
}

body {
  height: 100%;
}

header, footer {
  padding: $globalpadding*2;
  @media #{$large} {
    padding: $globalpadding*2 0;
  }
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
