header, footer {
  padding: $globalpadding*2;
  @media #{$large} {
    padding: $globalpadding*2 0;
  }
}

.page-wrapper {
  max-width: 1150px;
  position: relative;
  margin: 0 auto;
  z-index:0;
}

.inner-wrapper {
  padding: .5em $globalpadding*2 $globalpadding*2 $globalpadding*2;
  margin: 0 auto;
  @media #{$large} {
    padding: .5em $globalpadding*3 $globalpadding*3 $globalpadding*3;
  }
}
