.oc-container,
.oc-pusher,
.oc-content {
  height: 100%;
}

.menu-trigger {
  position: absolute;
  z-index: 50;
  right: 0;
  background-color: transparent;
  border: 1px solid $gold;
  color: $gold;
  width: 125px;
  text-transform: uppercase;
  @include NationalBoldItalic;
  margin: .5em;
  border-radius: 4px;
  padding: .25em .25em .35em .25em;
  font-size: 1.15em;
}

.oc-content,
.oc-content-inner {
  position: relative;
}

.oc-container {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

.menu {
  position: absolute;
  top: $globalpadding*3;
  right: 0;
  //transition: all 400ms;
  visibility: hidden;
  width: 235px;
  z-index: 100;
}

.primary-menu, .secondary-menu {
  @extend .plain-list;
  @include NationalBoldItalic;
  text-transform: uppercase;
  margin-left: 1em;
}

.menu__item__link {
  background-color: $lightblue;
  display: block;
  color: $blue;
  padding: .75em 1em;
  border-bottom: 2px solid $blue;
  text-decoration: none;
}

.primary-menu li:last-child .menu__item__link {
  background-color: $yellow;
}

.secondary-menu {
  margin-top: .5em;
}

.secondary-menu .menu__item__link {
  background-color: $secondaryyellow;
  padding: .5em 1em;
}

.oc-pusher {
  height: auto;
  position: relative;
  left: 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
  z-index: 99;
  overflow: hidden;
}
.oc-pusher::after {
  content: '';
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  background: transparent;
}

.menu-open .menu::after {
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  width: 0;
}

.menu-open .oc-pusher {
  overflow: visible;
}

.no-js .menu {
  height: auto;
  position: static;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  visibility: visible;
}

.no-js #oc-trigger {
  display: none;
}
.no-js .oc-pusher {
  padding-left: 0;
}

.no-csstransforms3d .oc-pusher {
  padding-left: 225px;
}

.oc-push.menu {
  transform: translate3d(100%, 0, 0);
}
.oc-push.menu::after {
  display: none;
}
.oc-push.menu-open .oc-pusher {
  transform: translate3d(-250px, 0, 0);
}

.menu-open .oc-pusher::after {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  width: 100%;
}

.oc-push.menu-open .oc-push.menu {
  transition: transform 400ms;
  visibility: visible;
}
