.splash {
  position: relative;
  @media #{$medium} {
    &:after {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: .5;
      background-image: url(../../assets/img/compass-alt.svg);
      background-repeat: no-repeat;
      background-size: 30% auto;
      background-position: right -100px bottom  150px;
      top: 0;
      left: 0;
      display: block;
      content: "";
    }
  }
  @media #{$large} {
    max-height: 80vh;
    overflow: hidden;
  }
  &:hover {
    .splash-headline {
      margin-left: 0;
    }
    .splash-image {
      transform: scale(1.05);
      max-width: inherit;
    }
  }
}

.splash-image {
  width: 100%;
  transform: scale(1);
  transition: transform ease-in-out .3s;
}

.splash-headline {
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: -2%;
  transition: all ease-in-out .3s;
  @media #{$small-ish} {
    bottom: 7%;
  }
  @media #{$medium} {
    bottom: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../../assets/img/shape.svg);
  }
}

.splash-headline__container {
  z-index: 5;
  position: relative;
  padding: .5em;
}

.splash-headline__level1 {
  display: block;
  margin-left: -2%;
  @include NationalBoldItalic;
  color: white;
  font-size: .6em;
  text-transform: none;
  @media #{$small-ish} {
    font-size: 1em;
    margin-left: -10%;
  }
  @media #{$medium} {
    margin-left: -10%;
    font-size: 1em;
  }
  @media #{$medium-ish} {
    font-size: 1em;
  }
}

.splash-headline__level2 {
  @include NationalBoldItalic;
  color: white;
  text-transform: uppercase;
  margin-right: 0em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  font-size: 90%;
  @media #{$tiny} {
    font-size: 130%;
  }
  @media #{$small-ish} {
    font-size: 160%;
  }
  @media #{$medium} {
    font-size: 160%;
  }
  @media #{$medium-ish} {
    font-size: 230%;
  }
}

.splash-headline__level3 {
  @include NationalBlackItalic;
  color: $gold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 90%;
  @media #{$tiny} {
    font-size: 130%;
  }
  @media #{$small-ish} {
    font-size: 160%;
  }
  @media #{$medium} {
    font-size: 160%;
  }
  @media #{$medium-ish} {
    font-size: 230%;
  }
}
