.splash {
  position: relative;
  @media #{$medium} {
    &:after {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: .5;
      background-image: url(../../assets/img/compass-alt.svg);
      background-repeat: no-repeat;
      background-position: right 50px bottom 75px;
      top: 0;
      left: 0;
      display: block;
      content: "";
    }
  }
  @media #{$large} {
    max-height: 80vh;
    overflow: hidden;
  }
}

.splash-image {
  width: 100%;
}

.splash-headline {
  position: absolute;
  bottom: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: 1;
  @media #{$medium} {
    bottom: 7%;
  }
}

.splash-headline__level1 {
  display: block;
  margin-left: -10%;
  @include NationalBoldItalic;
  color: $blue;
  font-size: .9em;
  text-transform: none;
  @media #{$medium} {
    margin-left: -20%;
    font-size: 1em;
  }
}

.splash-headline__level2 {
  @include NationalBoldItalic;
  color: white;
  text-transform: uppercase;
  margin-right: 0em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  @media #{$medium} {
    font-size: 160%;
  }
  @media #{$large} {
    font-size: 200%;
  }
}

.splash-headline__level3 {
  @include NationalBlackItalic;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: 1px;
  @media #{$medium} {
    font-size: 160%;
  }
  @media #{$large} {
    font-size: 200%;
  }
}
