// Live Blend for DISCOVER image //

.blend {
  mix-blend-mode:hard-light;
  transition: .3s all ease-in-out;
  opacity: .8;
}

.splash {
  position: relative;
  overflow: hidden;
  @media #{$medium} {
    &:after {
      width: 350px;
      height: 350px;
      position: absolute;
      opacity: .5;
      background-image: url(../../assets/img/compass-alt.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      //background-position: right -100px bottom  250px;
      top: 30px;
      right: -50px;
      display: block;
      content: "";
      transition: .3s all ease-in-out;
      //animation: spin 10s infinite linear alternate;
    }
  }
  @media screen and (max-height: 50em) {
    &:after {
      width: 250px;
      height: 250px;
    }
  }
  @media #{$large} {
    max-height: 85vh;
    overflow: hidden;
  }
  &:hover {
    .splash-headline {
      margin-left:1%;
    }
    .splash-image {
      //transform: scale(1.05);
    }
    .blend {
      //mix-blend-mode:inherit;
      opacity: 1;
    }
    &:after {
      width: 400px;
      height: 400px;
    }
    @media screen and (max-height: 50em) {
      &:after {
        width: 270px;
        height: 270px;
      }
    }
  }
}

.splash-image {
  width: 100%;
  //animation-duration: 30s;
  //animation-fill-mode: both;
  //animation-name: zoom;
  transition: transform ease-in-out .3s;
  @media screen and (max-height: 50em) and #{$medium} {
    margin-top: -15%;
  }
}

.js .splash-image--fallback, .menu-open .splash-image--fallback {
  display: none;
}

.splash-headline {
  position: absolute;
  bottom: 8%;
  display: flex;
  -js-display: flex; // JavaScript Fallback for IE9 //
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding-left: 5%;
  padding-right: 5%;
  //margin-left: -2%;
  transition: all ease-in-out .3s;
  width: 95%;
  z-index: 100;
  svg {
    width: 100%;
    height: auto;
    max-height:300px;
  }
}

.splash-headline__container {
  z-index: 5;
  position: relative;
  padding: .5em;
}

.splash-headline__level1 {
  display: block;
  margin-left: -2%;
  @include NationalBoldItalic;
  color: white;
  font-size: .6em;
  text-transform: none;
  line-height: .7;
  @media #{$small-ish} {
    font-size: 1em;
    margin-left: -10%;
  }
  @media #{$medium} {
    margin-left: -10%;
    font-size: 1em;
  }
  @media #{$medium-ish} {
    font-size: 1em;
  }
}

.splash-headline__level2 {
  @include NationalBoldItalic;
  color: white;
  text-transform: uppercase;
  margin-right: 0em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  font-size: 90%;
  @media #{$tiny} {
    font-size: 130%;
  }
  @media #{$small-ish} {
    font-size: 160%;
  }
  @media #{$medium} {
    font-size: 160%;
  }
  @media #{$medium-ish} {
    font-size: 230%;
  }
}

.splash-headline__level3 {
  @include NationalBlackItalic;
  color: $gold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 90%;
  @media #{$tiny} {
    font-size: 130%;
  }
  @media #{$small-ish} {
    font-size: 160%;
  }
  @media #{$medium} {
    font-size: 160%;
  }
  @media #{$medium-ish} {
    font-size: 230%;
  }
}
