.story-header {
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.story-header__title {
  margin: 0;
  padding: 0;
  color: white;
  @include NationalBlackItalic;
  text-transform: uppercase;
  @media #{$large} {
    margin-left: 3rem;
  }
}
