.feature-teaser {
  @media #{$small} {
    width: 50%;
  }
  @media #{$medium} {
    width: 100%;
  }
}

.feature-teaser__link {
  display: flex;
  -js-display: flex; // JavaScript Fallback for IE9 //
  text-decoration: none;
  flex-wrap: wrap;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid white;
    transition: .3s all ease-in-out;
  }
}

.feature-teaser__link__text {
  padding: 1em;
  width: 100%;
  @media #{$tiny} {
    width: 51%;
  }
  @media #{$small} {
    width: 100%;
  }
  @media #{$medium} {
    width: 60%;
  }
}

.feature-teaser__header, .feature-teaser__headline {
  margin: 0;
  padding: 0;
}

.feature-teaser__headline {
  margin-top: .5em;
}

.feature-teaser__link__image {
  width: 100%;
  img {
    width: 100%;
    padding: 1em;
    max-width: 300px;
  }
  @media #{$tiny} {
    width: 49%;
  }
  @media #{$small} {
    width: 100%;
  }
  @media #{$medium} {
    width: 40%;
  }
}

.gallery-teaser, .video-teaser {
  margin-top: .5em;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid white;
    transition: .3s all ease-in-out;
  }
  @media #{$tiny} {
    width: 49%;
  }
  @media #{$small} {
    width: 100%;
    margin-top: 0;
  }
  @media #{$medium} {
    width: 49%;
    margin-top: .5em;
  }
}

.video-teaser {
  @media #{$small} {
    margin-top: 1em;
  }
  @media #{$medium} {
    margin-top: .5em;
  }
}

.feature-teaser__summary {
  font-size: .9em;
  margin-top: .25em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.gallery-teaser__link, .video-teaser__link {
  position: relative;
  display: block;
}

.gallery-teaser__headline, .video-teaser__headline {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  font-size: 1em;
}

.priority-media__gallery {
  @media #{$tiny} {
    display: flex;
    -js-display: flex; // JavaScript Fallback for IE9 //
    justify-content: space-between;
  }
  @media #{$small} {
    width: 40%;
    display: block;
  }
  @media #{$medium} {
    width: 100%;
    display: flex;
  }
}


// Color Themes //

.section-default {

  .feature-teaser__header {
    color: $blue;
  }

  .gallery-teaser__headline, .video-teaser__headline {
    background-color: rgba($cyan,.9);
    color: $blue;
    text-align: right;
    padding: .25em;
  }

  .gallery-teaser, .video-teaser {
    &:hover, &:focus {
      .gallery-teaser__headline, .video-teaser__headline {
        background-color: rgba($cyan,1);
      }
    }
  }

  .feature-teaser__link__image {
    background-color: $cyan;
  }

  .feature-teaser__headline {
    color: white;
  }

  .feature-teaser__link__text {
    background-color: $cyan;
  }
}

.section-light {

  .feature-teaser__header {
    color: $blue;
  }

  .gallery-teaser__headline, .video-teaser__headline {
    background-color: rgba($cyan,.9);
    color: $blue;
    text-align: right;
    padding: .25em;
  }

  .gallery-teaser, .video-teaser {
    &:hover, &:focus {
      .gallery-teaser__headline, .video-teaser__headline {
        background-color: rgba($cyan,1);
      }
    }
  }

  .feature-teaser__link__image {
    background-color: white;
  }

  .feature-teaser__headline {
    color: $cyan;
  }

  .feature-teaser__link__text {
    background-color: white;
  }

  .feature-teaser__summary {
    color: black;
  }
}
