<!DOCTYPE html>
<html lang="en-us">

  <body id="oc-container" class="oc-container">
    <a id="skip-to-content" href="#content">skip to main content</a>
    <div class="oc-pusher">
      <?php include("../patterns/partials/menu.html") ?>
    <div class="page-wrapper">
      	<header role="banner">
          <div class="header-logo">
            <a href="http://www.kent.edu">
              <img src="{{ site.url }}/assets/img/kentstate-logo.svg" alt="Kent State University" />
            </a>
          </div>
          <a class="header-title" href="{{ site.url }}">
            <h1 class="header-title__text">A Strategic Roadmap <strong>To A Distinctive Kent State</strong></h1>
          </a>
      	</header>
        <main id="content" class="animated fadeIn oc-content" role="main">
