<nav id="menu" class="menu oc-push" role="navigation">
  <ul class="primary-menu">
    <li><a id="firstitem" class="menu__item__link" href="{{site.url}}/message">Message from the President</a></li>
    <li><a class="menu__item__link" href="{{site.url}}/contents">Contents</a></li>
    <li><a class="menu__item__link" href="{{site.url}}/priorities/1">Priority 1: Students First</a></li>
    <li><a class="menu__item__link" href="{{site.url}}/priorities/2">Priority 2: A Distinctive Kent State</a></li>
    <li><a class="menu__item__link" href="{{site.url}}/priorities/3">Priority 3: Global Competitiveness</a></li>
    <li><a class="menu__item__link" href="{{site.url}}/priorities/4">Priority 4: Regional Impact</a></li>
    <li><a class="menu__item__link" href="{{site.url}}/priorities/5">Priority 5: Organizational Stewardship</a></li>
  </ul>
  <ul class="secondary-menu">
    <li><a class="menu__item__link" targer="_blank" href="http://www.kent.edu/university-dashboard">University Dashboard</a></li>
    <li><a class="menu__item__link" targer="_blank" href="{{site.url}}/assets/downloads/strategic-roadmap.pdf">Strategic Roadmap (PDF)</a></li>
    <li><a class="menu__item__link" targer="_blank" href="#">2015-16 Achievements (PDF) - NEEDS PROVIDED</a></li>
    <li><a class="menu__item__link" targer="_blank" href="{{site.url}}/assets/downloads/priorities-ulis.pdf">Priorities and University-Level Initiatives (PDF)</a></li>
  </ul>
  <button class="close-button close-button--menu">Close Menu</button>
</nav>
