header[role="banner"] {
  border-bottom: 7px solid $gold;
  color: white;
  padding: $globalpadding $globalpadding*2;
  background-image: $gradient;
  @media #{$medium} {
    display: flex;
    -js-display: flex; // JavaScript Fallback for IE9 //
    align-items: center;
    justify-content: center;
    padding: $globalpadding*2 $globalpadding*2 $globalpadding*2.5 $globalpadding*2;
  }
  @media #{$large} {
    padding: 2em 0;
  }
  @media screen and (min-width: 1150px) {
    background-image: none;
  }
}

.header-title {
  text-decoration: none;
  color: white;
  transition: .3s all ease-in-out;
  text-rendering: optimizeLegibility;
  @media #{$medium} {
    width: 75%;
    text-align: right;
  }
  &:hover {
    .header-title__text {
      border-bottom-color: white;
    }
  }
}

.header-title__text {
  font-size: 1em;
  margin-top: 1em;
  text-transform: uppercase;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  @include NationalBoldItalic;
  letter-spacing: 1px;
  transition: .1s all ease-in-out;
  display: inline-block;
  @media #{$medium} {
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
  }
  @media #{$large} {
    padding-right: 0;
  }
}

.header-title__text strong {
  color: $gold;
  @include NationalBoldItalic;
  display: block;
  letter-spacing: 2px;
  @media #{$small} {
    display: inline-block;
  }
}

.header-logo {
  @media #{$medium} {
    width: 25%;
  }
}

.header-logo img {
  width: 200px;
  @media #{$large} and (min-height: 50em) {
    width: 250px;
  }
}
