header, footer {
  padding: $globalpadding*2;
  @media #{$large} {
    padding: $globalpadding*2 0;
  }
}

.page-wrapper {
  max-width: 1150px;
  position: relative;
  margin: 0 auto;
  z-index:0;
}

.inner-wrapper {
  padding: $globalpadding*2  $globalpadding*2 $globalpadding*3 $globalpadding*2;
  margin: 0 auto;
  z-index: 30;
  position: relative;
  @media #{$large} {
    padding: .5em $globalpadding*3 $globalpadding*3.25 $globalpadding*3;
  }
  border-image: url(../../assets/img/yellow-border.svg);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-image-slice:10;
  border-image-width: 3;
  border-image-outset: 0;
  border-image-repeat: round;
}
