@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
.plain-list, .footer-contact__list, .footer-social__list, .footer-supplemental__list, .primary-menu, .secondary-menu { list-style-type: none; margin: 0; padding: 0; }

@font-face { font-family: "National"; font-weight: 300; src: url("../font/National-Light.woff2") format("woff2"), url("../font/National-Light.woff") format("woff"); }
@font-face { font-family: "National"; font-weight: 300; font-style: italic; src: url("../font/National-LightItalic.woff2") format("woff2"), url("../font/National-LightItalic.woff") format("woff"); }
@font-face { font-family: "National"; font-weight: 700; src: url("../font/National-Bold.woff2") format("woff2"), url("../font/National-Bold.woff") format("woff"); }
@font-face { font-family: "National"; font-weight: 700; font-style: italic; src: url("../font/National-BoldItalic.woff2") format("woff2"), url("../font/National-BoldItalic.woff") format("woff"); }
@font-face { font-family: "National"; font-weight: 900; font-style: italic; src: url("../font/National-BlackItalic.woff2") format("woff2"), url("../font/National-BlackItalic.woff") format("woff"); }
header, footer { padding: 2rem; }
@media (min-width: 75em) { header, footer { padding: 2rem 0; } }

.page-wrapper { max-width: 1150px; position: relative; margin: 0 auto; z-index: 0; }

.inner-wrapper { padding: 2rem 2rem 2rem 2rem; margin: 0 auto; z-index: 30; position: relative; -o-border-image: url(../../assets/img/yellow-border.svg); border-image: url(../../assets/img/yellow-border.svg); border-top: 0; border-left: 0; border-right: 0; border-image-slice: 10; border-image-width: 3; border-image-outset: 0; border-image-repeat: round; }
@media (min-width: 75em) { .inner-wrapper { padding: 0.5em 3rem 3rem 3rem; } }

body { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; background-image: -webkit-linear-gradient(bottom, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); background-image: linear-gradient(0deg, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); }
@media (min-width: 50em) { body { background-image: url(../../assets/img/compass.svg), url(../../assets/img/zig-zag.svg), -webkit-linear-gradient(bottom, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); background-image: url(../../assets/img/compass.svg), url(../../assets/img/zig-zag.svg), linear-gradient(0deg, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); background-repeat: no-repeat; background-position: bottom left, top right, bottom left; background-size: 25% auto, cover, cover; } }

main { background-color: white; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); min-height: 200px; }

.section-default { background-color: #002664; }

h2 { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; text-transform: uppercase; }

h3 { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; text-transform: uppercase; margin-bottom: 0; }

.section-default h2 { color: #eaab00; }

.section-default h3 { color: #5ec4df; }

p { font-size: 1.1em; }

p em { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; }

p strong { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; }

.section-default p { color: white; }
.section-default em { color: #eaab00; }
.section-default strong { color: #5ec4df; }

main ul { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; }

main ul { list-style-type: none; }
main ul li { position: relative; margin-bottom: 1em; }
main ul li:before { content: "\25a0"; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; font-size: .65em; margin-left: -1.5em; position: absolute; top: 5px; }

main .section-default ul { color: white; }

main .section-default ul li:before { color: #eaab00; }

/* Additional Default Styles for Responsive */
html { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

img, object, video, iframe { max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; display: inline-block; vertical-align: middle; }

html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove the margin in all browsers (opinionated). */
body { margin: 0; }

figure, figcaption { margin: 0; }

dl { margin: 0; padding: 0; }

dt { display: inline-block; margin: 0; padding: 0; }

address { font-style: normal; display: inline; }

dd { display: inline-block; margin: 0; padding: 0; }

/* HTML5 display definitions ========================================================================== */
/** Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and Firefox. 2. Add the correct display in IE. */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { /* 1 */ display: block; }

/** Add the correct display in IE 9-. */
audio, canvas, progress, video { display: inline-block; }

/** Add the correct display in iOS 4-7. */
audio:not([controls]) { display: none; height: 0; }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Add the correct display in IE 10-. 1. Add the correct display in IE. */
template, [hidden] { display: none; }

/* Links ========================================================================== */
/** Remove the gray background on active links in IE 10. */
a { background-color: transparent; }

/** Remove the outline on focused links when they are also active or hovered in all browsers (opinionated). */
a:active, a:hover { outline-width: 0; }

/* Text-level semantics ========================================================================== */
/** 1. Remove the bottom border in Firefox 39-. 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong { font-weight: inherit; }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** Add the correct font style in Android 4.3-. */
dfn { font-style: italic; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Add the correct background and color in IE 9-. */
mark { background-color: #ff0; color: #000; }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10-. */
img { border-style: none; }

/** Hide the overflow in IE. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct margin in IE 8. */
/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/* Forms ========================================================================== */
/** Change font properties to `inherit` in all browsers (opinionated). */
button, input, select, textarea { font: inherit; }

/** Restore the font weight unset by the previous rule. */
optgroup { font-weight: bold; }

/** Show the overflow in IE. 1. Show the overflow in Edge. 2. Show the overflow in Edge, Firefox, and IE. */
button, input, select { /* 2 */ overflow: visible; }

/** Remove the margin in Safari. 1. Remove the margin in Firefox and Safari. */
button, input, select, textarea { /* 1 */ margin: 0; }

/** Remove the inheritence of text transform in Edge, Firefox, and IE. 1. Remove the inheritence of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** Change the cursor in all browsers (opinionated). */
button, [type="button"], [type="reset"], [type="submit"] { cursor: pointer; }

/** Restore the default cursor to disabled elements unset by the previous rule. */
[disabled] { cursor: default; }

/** 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. 2. Correct the inability to style clickable types in iOS. */
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; /* 2 */ }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, input:-moz-focusring { outline: 1px dotted ButtonText; }

/** Change the border, margin, and padding in all browsers (opinionated). */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Remove the default vertical scrollbar in IE. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** Correct the odd appearance of search inputs in Chrome and Safari. */
[type="search"] { -webkit-appearance: textfield; }

/** Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X. */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

footer { color: white; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; }

@media (min-width: 39.5em) { .footer-links { width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 1rem; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; } }

@media (min-width: 39.5em) { .footer-supplemental__list, .footer-social__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; } }
@media (min-width: 50em) { .footer-supplemental__list, .footer-social__list { font-size: 1.1em; } }

.footer-contact__list { text-align: center; margin-top: 2rem; font-size: .95em; }
@media (min-width: 50em) { .footer-contact__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; } }

.footer-contact__list__item__definition { display: inline-block; }

.footer-social__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 1rem 0; }
@media (min-width: 50em) { .footer-social__list { margin: 0; } }

.footer-social__list__item { text-indent: -9999px; overflow: hidden; margin-right: 1em; }

.footer-social__list__item:last-child { margin-right: 0; }

.footer-social__list__item__link { width: 22px; height: 22px; display: block; background-size: 100% auto; }
@media (min-width: 50em) { .footer-social__list__item__link { width: 30px; height: 30px; } }
.footer-social__list__item__link.facebook { background-image: url(../img/facebook.svg); }
.footer-social__list__item__link.twitter { background-image: url(../img/twitter.svg); }
.footer-social__list__item__link.instagram { background-image: url(../img/instagram.svg); }
.footer-social__list__item__link.flickr { background-image: url(../img/flickr.svg); }
.footer-social__list__item__link.linkedin { background-image: url(../img/linkedin.svg); }

@media (min-width: 39.5em) { .footer-supplemental__list__item { display: inherit; }
  .footer-supplemental__list__item:after { content: "|"; color: #eaab00; padding: 0 .5em 0 .45em; } }

@media (min-width: 50em) { .footer-contact__list__item:after { content: "|"; color: #eaab00; padding: 0 .5em 0 .45em; } }

.footer-supplemental__list__item__link, .footer-contact__list__item__link { color: white; text-decoration: none; }

@media (min-width: 39.5em) { .footer-supplemental__list__item:last-child:after, .footer-contact__list__item:last-child:after { content: ""; margin: inherit; padding: inherit; } }

.footer-supplemental, .footer-social { margin: 0 auto; }
@media (min-width: 43.75em) { .footer-supplemental, .footer-social { display: inline-block; margin: inherit; } }

.footer-social { margin-left: auto; }

.footer-copyright { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; margin-top: 1rem; text-align: center; }

header[role="banner"] { border-bottom: 7px solid #eaab00; color: white; padding: 1rem 2rem; background-image: -webkit-linear-gradient(bottom, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); background-image: linear-gradient(0deg, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); }
@media (min-width: 50em) { header[role="banner"] { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding: 2rem 2rem 2.5rem 2rem; } }
@media (min-width: 75em) { header[role="banner"] { padding: 2em 0; } }
@media screen and (min-width: 1150px) { header[role="banner"] { background-image: none; } }

.header-title { text-decoration: none; color: white; }
@media (min-width: 50em) { .header-title { width: 75%; } }

.header-title__text { font-size: 1em; margin-top: 1em; text-transform: uppercase; line-height: 1.3; text-rendering: optimizeLegibility; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; letter-spacing: 1px; }
@media (min-width: 50em) { .header-title__text { text-align: right; margin: 0; padding: 0; font-size: 1.2em; } }
@media (min-width: 75em) { .header-title__text { padding-right: 0; } }

.header-title__text strong { color: #eaab00; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; display: block; }
@media (min-width: 39.5em) { .header-title__text strong { display: inline-block; } }

@media (min-width: 50em) { .header-logo { width: 25%; } }

.header-logo img { width: 200px; }
@media (min-width: 75em) { .header-logo img { width: 250px; } }

.splash { position: relative; }
@media (min-width: 50em) { .splash:after { position: absolute; height: 100%; width: 100%; opacity: .5; background-image: url(../../assets/img/compass-alt.svg); background-repeat: no-repeat; background-size: 30% auto; background-position: right -100px bottom  150px; top: 0; left: 0; display: block; content: ""; } }
@media (min-width: 75em) { .splash { max-height: 80vh; overflow: hidden; } }
.splash:hover .splash-headline { margin-left: 0; }
.splash:hover .splash-image { -webkit-transform: scale(1.05); transform: scale(1.05); max-width: inherit; }

.splash-image { width: 100%; -webkit-transform: scale(1); transform: scale(1); -webkit-transition: -webkit-transform ease-in-out .3s; transition: -webkit-transform ease-in-out .3s; transition: transform ease-in-out .3s; transition: transform ease-in-out .3s, -webkit-transform ease-in-out .3s; }

.splash-headline { position: absolute; bottom: 5%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; line-height: 1; padding-left: 5%; padding-right: 5%; margin-left: -2%; -webkit-transition: all ease-in-out .3s; transition: all ease-in-out .3s; }
@media (min-width: 43.75em) { .splash-headline { bottom: 7%; } }
@media (min-width: 50em) { .splash-headline { bottom: 10%; padding-top: 1em; padding-bottom: 1em; padding-left: 10%; } }
.splash-headline:after { content: ""; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1; background-size: 100% auto; background-repeat: no-repeat; background-image: url(../../assets/img/shape.svg); }

.splash-headline__container { z-index: 5; position: relative; padding: .5em; }

.splash-headline__level1 { display: block; margin-left: -2%; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; color: white; font-size: .6em; text-transform: none; }
@media (min-width: 43.75em) { .splash-headline__level1 { font-size: 1em; margin-left: -10%; } }
@media (min-width: 50em) { .splash-headline__level1 { margin-left: -10%; font-size: 1em; } }
@media (min-width: 56.25em) { .splash-headline__level1 { font-size: 1em; } }

.splash-headline__level2 { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; color: white; text-transform: uppercase; margin-right: 0em; letter-spacing: 1px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); font-size: 90%; }
@media (min-width: 31.25em) { .splash-headline__level2 { font-size: 130%; } }
@media (min-width: 43.75em) { .splash-headline__level2 { font-size: 160%; } }
@media (min-width: 50em) { .splash-headline__level2 { font-size: 160%; } }
@media (min-width: 56.25em) { .splash-headline__level2 { font-size: 230%; } }

.splash-headline__level3 { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; color: #eaab00; text-transform: uppercase; letter-spacing: 1px; font-size: 90%; }
@media (min-width: 31.25em) { .splash-headline__level3 { font-size: 130%; } }
@media (min-width: 43.75em) { .splash-headline__level3 { font-size: 160%; } }
@media (min-width: 50em) { .splash-headline__level3 { font-size: 160%; } }
@media (min-width: 56.25em) { .splash-headline__level3 { font-size: 230%; } }

.section-contents { background-color: #5ec4df; background-image: url(../../assets/img/library-background.jpg); background-size: cover; background-position: top right; }
.section-contents:after { content: ""; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: -webkit-linear-gradient(left, #5ec4df 0%, rgba(94, 196, 223, 0.8) 75%, rgba(94, 196, 223, 0.5) 100%); background: linear-gradient(90deg, #5ec4df 0%, rgba(94, 196, 223, 0.8) 75%, rgba(94, 196, 223, 0.5) 100%); z-index: 2; }
@media (min-width: 56.25em) { .section-contents { padding-top: 3em; } }

.contents__title { color: white; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; padding-left: 2em; position: relative; margin-bottom: 1.25em; }
@media (min-width: 50em) { .contents__title { font-size: 2.2em; } }
.contents__title:before { content: ""; background-image: url(../../assets/img/map-marker.svg); position: absolute; left: 0; top: 0px; width: 30px; height: 50px; background-repeat: no-repeat; background-size: 100% auto; }
@media (min-width: 50em) { .contents__title:before { width: 40px; height: 60px; } }
@media (min-width: 75em) { .contents__title:before { width: 50px; height: 80px; } }

.contents__subtitle { width: 100%; display: block; background: #002664; color: white; text-align: center; text-decoration: none; font-size: 1.2em; padding: .5em; border-radius: 3px; }
@media (min-width: 50em) { .contents__subtitle { font-size: 1.4em; } }
@media (min-width: 75em) { .contents__subtitle { font-size: 1.2em; width: 48%; } }

.contents__subtitle__text { margin: 0; padding: 0; }

.priority-list { margin-top: 1em; margin-bottom: 1em; display: block; background-color: #aeeae5; }
@media (min-width: 50em) { .priority-list { width: 48%; } }

.priority-list__term { width: 100%; display: block; }

.priority-list__name { background: #eaab00; display: block; color: #002664; text-decoration: none; font-size: 1.2em; padding: .5em 1em; }
.priority-list__name strong { color: white; margin-right: .35em; }
@media (min-width: 56.25em) { .priority-list__name { font-size: 1.3em; } }

.priority-list__name__text { margin: 0; padding: 0; display: block; }

.priority-list__description { padding: .5em 1em .75em 1em; font-size: 1.1em; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; }
@media (min-width: 50em) { .priority-list__description { font-size: 1.1em; } }

@media (min-width: 50em) { .priority { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; } }

.button { background-color: #002664; color: white; text-decoration: none; padding: .5em 1em; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; margin-top: 2em; display: inline-block; margin-right: .5em; }
@media (min-width: 50em) { .button { font-size: 1.2em; } }

.button--gold { color: #eaab00; }

aside { border: 1px solid #5ec4df; padding: .5em 1em; margin-top: 2em; }
@media (min-width: 75em) { aside { border-color: rgba(234, 171, 0, 0.8); } }
aside p { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; font-size: 1.2em; margin-top: 0; }
@media (min-width: 75em) { aside p { font-size: 1em; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; font-style: normal; } }
aside ul { font-size: 1.2em; margin-top: .5em; }
@media (min-width: 75em) { aside ul { font-size: 1em; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; font-style: normal; margin-left: 0; padding-left: 1em; } }
@media (min-width: 75em) { aside { width: 33%; margin-left: 3%; border-top: none; border-right: none; padding: 0em 1.5em; } }

.quote { width: 80%; }
@media (min-width: 39.5em) { .quote { width: 50%; } }

blockquote { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; margin: 0; padding: 0; }
@media (min-width: 50em) { blockquote { font-size: 1.2em; } }
blockquote:before { content: "“"; }
blockquote:after { content: "”"; }

cite { display: block; text-align: right; margin-top: 1em; font-style: normal; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; }
cite:before { content: "-"; margin-right: .25em; }

.section-default blockquote, .section-default cite { color: white; }

@media (min-width: 50em) { .priority-content { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; } }

@media (min-width: 50em) { .priority-text { width: 45%; } }

@media (min-width: 50em) { .priority-media { width: 50%; } }

.priority-header { background-color: green; background-size: cover; position: relative; min-height: 300px; }

.priority-header__heading { position: absolute; bottom: 0; background-color: #e5e854; display: inline-block; margin: 0; font-size: 2em; width: 80%; text-transform: none; text-align: right; }
@media (min-width: 39.5em) { .priority-header__heading { width: 50%; } }

.section-default .priority-header__heading { color: #002664; }

.priority-header__heading span { position: absolute; bottom: 0; color: white; left: 3rem; font-size: 3em; line-height: 1; }

.priority-introduction { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; }

.section-default .priority-introduction { color: #e5e854; }

.story-header { min-height: 300px; background-size: cover; background-repeat: no-repeat; }

.story-header__title { margin: 0; padding: 0; color: white; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; text-transform: uppercase; }
@media (min-width: 75em) { .story-header__title { margin-left: 3rem; } }

img:not([alt]) { outline: 1em red solid; }

#skip-to-content { padding: 1em; position: absolute; top: -40px; right: 1em; z-index: 1000; color: white; }

#skip-to-content:focus { position: absolute; top: 0; background: #4593ff; }

.oc-container, .oc-pusher, .oc-content { height: 100%; }

.menu-trigger { position: absolute; z-index: 50; right: 0; background-color: transparent; border: 1px solid #eaab00; color: #eaab00; width: 125px; text-transform: uppercase; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; margin: .5em; border-radius: 4px; padding: .25em .25em .35em .25em; font-size: 1.15em; }

.menu-open .menu-trigger { background-color: #eaab00; color: white; }

.oc-content, .oc-content-inner { position: relative; }

.oc-container { position: relative; overflow: hidden; overflow-y: scroll; }

.menu { position: absolute; top: 3rem; right: 0; visibility: hidden; width: 235px; z-index: 100; }
@media (min-width: 93.75em) { .menu { right: 10%; } }

.primary-menu, .secondary-menu { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; text-transform: uppercase; margin-left: 1em; }

.menu__item__link { background-color: #aeeae5; display: block; color: #002664; padding: .75em 1em; border-bottom: 2px solid #002664; text-decoration: none; }

.primary-menu li:last-child .menu__item__link { background-color: #e5e854; }

.secondary-menu { margin-top: .5em; }

.secondary-menu .menu__item__link { background-color: #f8eb61; padding: .5em 1em; }

.oc-pusher { height: auto; position: relative; left: 0; -webkit-transition: -webkit-transform 400ms; transition: -webkit-transform 400ms; transition: transform 400ms; transition: transform 400ms, -webkit-transform 400ms; z-index: 99; overflow: hidden; }

.oc-pusher::after { content: ''; height: 0; position: absolute; top: 0; right: 0; opacity: 0; width: 0; -webkit-transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms; transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms; background: transparent; }

.menu-open .menu::after { height: 0; opacity: 0; -webkit-transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms; transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms; width: 0; }

.menu-open .oc-pusher { overflow: visible; }

.no-js .menu { height: auto; position: static; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); width: 100%; visibility: visible; }

.no-js #oc-trigger { display: none; }

.no-js .oc-pusher { padding-left: 0; }

.no-csstransforms3d .oc-pusher { padding-left: 225px; }

.oc-push.menu { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }

.oc-push.menu::after { display: none; }

.oc-push.menu-open .oc-pusher { -webkit-transform: translate3d(-250px, 0, 0); transform: translate3d(-250px, 0, 0); }

.menu-open .oc-pusher::after { height: 100%; opacity: 1; -webkit-transition: opacity 400ms; transition: opacity 400ms; width: 100%; }

.oc-push.menu-open .oc-push.menu { -webkit-transition: -webkit-transform 400ms; transition: -webkit-transform 400ms; transition: transform 400ms; transition: transform 400ms, -webkit-transform 400ms; visibility: visible; }

.section-message { background-image: url(../../assets/img/arch.jpg); background-size: cover; background-position: top right; background-blend-mode: overlay; }
.section-message:after { content: ""; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: -webkit-linear-gradient(left, rgba(0, 57, 118, 0.9) 0%, rgba(0, 57, 118, 0.8) 100%); background: linear-gradient(90deg, rgba(0, 57, 118, 0.9) 0%, rgba(0, 57, 118, 0.8) 100%); z-index: 2; }
@media (min-width: 50em) { .section-message { padding-top: 2em; } }
@media (min-width: 75em) { .section-message { padding-top: 4em; } }

@media (min-width: 75em) { .section-message em { position: relative; display: block; width: 100%; } }

@media (min-width: 75em) { .section-message em:after { content: " "; width: 105%; height: 1px; background-color: rgba(234, 171, 0, 0.8); display: inline-block; bottom: -5px; left: 0; position: absolute; } }

.headshot { max-width: 250px; margin-bottom: 1em; }
@media (min-width: 39.5em) { .headshot { width: 27%; } }
@media (min-width: 75em) { .headshot { width: 16%; } }

.message__heading { margin-top: 0; }

@media (min-width: 39.5em) { .message { width: 70%; margin-left: auto; } }
@media (min-width: 75em) { .message { width: 45%; } }

.section-message .inner-wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-flex-flow: space-between; -ms-flex-flow: space-between; flex-flow: space-between; }

.feature-teaser__link { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; text-decoration: none; }

.feature-teaser__link__text { padding: 1em; width: 60%; }

.feature-teaser__header, .feature-teaser__headline { margin: 0; padding: 0; }

.feature-teaser__headline { margin-top: .5em; }

.feature-teaser__link__image { width: 40%; background-size: cover; }

.gallery-teaser, .video-teaser { margin-top: .5em; }
@media (min-width: 39.5em) { .gallery-teaser, .video-teaser { width: 49%; } }

.feature-teaser__summary { font-size: 1em; margin-top: .25em; }

.gallery-teaser__link, .video-teaser__link { position: relative; display: block; }

.gallery-teaser__headline, .video-teaser__headline { position: absolute; bottom: 0; left: 0; width: 100%; }

@media (min-width: 39.5em) { .priority-media__gallery { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; } }

.section-default .feature-teaser__header { color: #002664; }

.section-default .gallery-teaser__headline, .section-default .video-teaser__headline { background-color: #5ec4df; color: #002664; text-align: right; padding: .25em; }

.section-default .feature-teaser__headline { color: white; }

.section-default .feature-teaser__link__text { background-color: #5ec4df; }
