@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
.plain-list, .footer-contact__list, .footer-social__list, .footer-supplemental__list { list-style-type: none; margin: 0; padding: 0; }

@font-face { font-family: "National"; font-weight: 300; src: url("../font/National-Light.woff2") format("woff2"), url("../font/National-Light.woff") format("woff"); }
@font-face { font-family: "National"; font-weight: 300; font-style: italic; src: url("../font/National-LightItalic.woff2") format("woff2"), url("../font/National-LightItalic.woff") format("woff"); }
@font-face { font-family: "National"; font-weight: 700; src: url("../font/National-Bold.woff2") format("woff2"), url("../font/National-Bold.woff") format("woff"); }
@font-face { font-family: "National"; font-weight: 700; font-style: italic; src: url("../font/National-BoldItalic.woff2") format("woff2"), url("../font/National-BoldItalic.woff") format("woff"); }
@font-face { font-family: "National"; font-weight: 900; font-style: italic; src: url("../font/National-BlackItalic.woff2") format("woff2"), url("../font/National-BlackItalic.woff") format("woff"); }
header, footer { padding: 2rem; }
@media (min-width: 75em) { header, footer { padding: 2rem 0; } }

.page-wrapper { max-width: 1150px; margin: 0 auto; }

.inner-wrapper { padding: 0.5em 2rem 2rem 2rem; margin: 0 auto; }
@media (min-width: 75em) { .inner-wrapper { padding: 0.5em 3rem 3rem 3rem; } }

body { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; background-image: -webkit-linear-gradient(bottom, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); background-image: linear-gradient(0deg, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); }
@media (min-width: 50em) { body { background-image: url(../../assets/img/compass.svg), -webkit-linear-gradient(bottom, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); background-image: url(../../assets/img/compass.svg), linear-gradient(0deg, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); background-repeat: no-repeat; background-position: bottom left; background-size: 25% auto, cover; } }

main { background-color: white; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); min-height: 200px; }

.section-default { background-color: #002664; }

h2 { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; text-transform: uppercase; }

h3 { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; text-transform: uppercase; margin-bottom: 0; }

.section-default h2 { color: #eaab00; }

.section-default h3 { color: #5ec4df; }

p { font-size: 1.1em; }

p em { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; }

p strong { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; }

.section-default p { color: white; }
.section-default em { color: #eaab00; }
.section-default strong { color: #5ec4df; }

main ul { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; }

main ul { list-style-type: none; }
main ul li { position: relative; margin-bottom: 1em; }
main ul li:before { content: "\25a0"; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; font-size: .65em; margin-left: -1.5em; position: absolute; top: 5px; }

main .section-default ul { color: white; }

main .section-default ul li:before { color: #eaab00; }

/* Additional Default Styles for Responsive */
html { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

img, object, video, iframe { max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; display: inline-block; vertical-align: middle; }

html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove the margin in all browsers (opinionated). */
body { margin: 0; }

figure, figcaption { margin: 0; }

dl { margin: 0; padding: 0; }

dt { display: inline-block; margin: 0; padding: 0; }

address { font-style: normal; display: inline; }

dd { display: inline-block; margin: 0; padding: 0; }

/* HTML5 display definitions ========================================================================== */
/** Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and Firefox. 2. Add the correct display in IE. */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { /* 1 */ display: block; }

/** Add the correct display in IE 9-. */
audio, canvas, progress, video { display: inline-block; }

/** Add the correct display in iOS 4-7. */
audio:not([controls]) { display: none; height: 0; }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Add the correct display in IE 10-. 1. Add the correct display in IE. */
template, [hidden] { display: none; }

/* Links ========================================================================== */
/** Remove the gray background on active links in IE 10. */
a { background-color: transparent; }

/** Remove the outline on focused links when they are also active or hovered in all browsers (opinionated). */
a:active, a:hover { outline-width: 0; }

/* Text-level semantics ========================================================================== */
/** 1. Remove the bottom border in Firefox 39-. 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong { font-weight: inherit; }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** Add the correct font style in Android 4.3-. */
dfn { font-style: italic; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Add the correct background and color in IE 9-. */
mark { background-color: #ff0; color: #000; }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10-. */
img { border-style: none; }

/** Hide the overflow in IE. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct margin in IE 8. */
/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/* Forms ========================================================================== */
/** Change font properties to `inherit` in all browsers (opinionated). */
button, input, select, textarea { font: inherit; }

/** Restore the font weight unset by the previous rule. */
optgroup { font-weight: bold; }

/** Show the overflow in IE. 1. Show the overflow in Edge. 2. Show the overflow in Edge, Firefox, and IE. */
button, input, select { /* 2 */ overflow: visible; }

/** Remove the margin in Safari. 1. Remove the margin in Firefox and Safari. */
button, input, select, textarea { /* 1 */ margin: 0; }

/** Remove the inheritence of text transform in Edge, Firefox, and IE. 1. Remove the inheritence of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** Change the cursor in all browsers (opinionated). */
button, [type="button"], [type="reset"], [type="submit"] { cursor: pointer; }

/** Restore the default cursor to disabled elements unset by the previous rule. */
[disabled] { cursor: default; }

/** 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. 2. Correct the inability to style clickable types in iOS. */
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; /* 2 */ }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, input:-moz-focusring { outline: 1px dotted ButtonText; }

/** Change the border, margin, and padding in all browsers (opinionated). */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Remove the default vertical scrollbar in IE. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** Correct the odd appearance of search inputs in Chrome and Safari. */
[type="search"] { -webkit-appearance: textfield; }

/** Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X. */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

footer { color: white; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; }

@media (min-width: 39.5em) { .footer-links { width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 1rem; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; } }

@media (min-width: 39.5em) { .footer-supplemental__list, .footer-social__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; } }
@media (min-width: 50em) { .footer-supplemental__list, .footer-social__list { font-size: 1.1em; } }

.footer-contact__list { text-align: center; margin-top: 2rem; font-size: .95em; }
@media (min-width: 50em) { .footer-contact__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; } }

.footer-contact__list__item__definition { display: inline-block; }

.footer-social__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 1rem 0; }
@media (min-width: 50em) { .footer-social__list { margin: 0; } }

.footer-social__list__item { text-indent: -9999px; overflow: hidden; margin-right: 1em; }

.footer-social__list__item:last-child { margin-right: 0; }

.footer-social__list__item__link { width: 22px; height: 22px; display: block; background-size: 100% auto; }
@media (min-width: 50em) { .footer-social__list__item__link { width: 30px; height: 30px; } }
.footer-social__list__item__link.facebook { background-image: url(../img/facebook.svg); }
.footer-social__list__item__link.twitter { background-image: url(../img/twitter.svg); }
.footer-social__list__item__link.instagram { background-image: url(../img/instagram.svg); }
.footer-social__list__item__link.flickr { background-image: url(../img/flickr.svg); }
.footer-social__list__item__link.linkedin { background-image: url(../img/linkedin.svg); }

@media (min-width: 39.5em) { .footer-supplemental__list__item { display: inherit; }
  .footer-supplemental__list__item:after { content: "|"; color: #eaab00; padding: 0 .5em 0 .45em; } }

@media (min-width: 50em) { .footer-contact__list__item:after { content: "|"; color: #eaab00; padding: 0 .5em 0 .45em; } }

.footer-supplemental__list__item__link, .footer-contact__list__item__link { color: white; text-decoration: none; }

@media (min-width: 39.5em) { .footer-supplemental__list__item:last-child:after, .footer-contact__list__item:last-child:after { content: ""; margin: inherit; padding: inherit; } }

.footer-supplemental, .footer-social { margin: 0 auto; }
@media (min-width: 43.75em) { .footer-supplemental, .footer-social { display: inline-block; margin: inherit; } }

.footer-social { margin-left: auto; }

.footer-copyright { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; margin-top: 1rem; text-align: center; }

header[role="banner"] { border-bottom: 7px solid #eaab00; color: white; padding: 1rem 2rem; background-image: -webkit-linear-gradient(bottom, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); background-image: linear-gradient(0deg, #032143 0%, #063B73 45%, #063B73 65%, #032143 100%); }
@media (min-width: 50em) { header[role="banner"] { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding: 2rem 2rem 2.5rem 2rem; } }
@media (min-width: 75em) { header[role="banner"] { padding: 2em 0; } }
@media screen and (min-width: 1150px) { header[role="banner"] { background-image: none; } }

.header-title { text-decoration: none; color: white; }
@media (min-width: 50em) { .header-title { width: 75%; } }

.header-title__text { font-size: 1em; margin-top: 1em; text-transform: uppercase; line-height: 1.3; text-rendering: optimizeLegibility; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; letter-spacing: 1px; }
@media (min-width: 50em) { .header-title__text { text-align: right; margin: 0; padding: 0; font-size: 1.2em; } }
@media (min-width: 75em) { .header-title__text { padding-right: 0; } }

.header-title__text strong { color: #eaab00; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; display: block; }
@media (min-width: 39.5em) { .header-title__text strong { display: inline-block; } }

@media (min-width: 50em) { .header-logo { width: 25%; } }

.header-logo img { width: 200px; }
@media (min-width: 75em) { .header-logo img { width: 250px; } }

.splash { position: relative; }
@media (min-width: 50em) { .splash:after { position: absolute; height: 100%; width: 100%; opacity: .5; background-image: url(../../assets/img/compass-alt.svg); background-repeat: no-repeat; background-position: right 50px bottom 75px; top: 0; left: 0; display: block; content: ""; } }
@media (min-width: 75em) { .splash { max-height: 80vh; overflow: hidden; } }

.splash-image { width: 100%; }

.splash-headline { position: absolute; bottom: 7%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%; line-height: 1; }
@media (min-width: 50em) { .splash-headline { bottom: 7%; } }

.splash-headline__level1 { display: block; margin-left: -10%; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; color: #002664; font-size: .9em; text-transform: none; }
@media (min-width: 50em) { .splash-headline__level1 { margin-left: -20%; font-size: 1em; } }

.splash-headline__level2 { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; color: white; text-transform: uppercase; margin-right: 0em; letter-spacing: 1px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
@media (min-width: 50em) { .splash-headline__level2 { font-size: 160%; } }
@media (min-width: 75em) { .splash-headline__level2 { font-size: 200%; } }

.splash-headline__level3 { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; color: #002664; text-transform: uppercase; letter-spacing: 1px; }
@media (min-width: 50em) { .splash-headline__level3 { font-size: 160%; } }
@media (min-width: 75em) { .splash-headline__level3 { font-size: 200%; } }

.section-contents { background-color: #5ec4df; }

.contents__title { color: white; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; padding-left: 2em; position: relative; margin-bottom: 1.25em; }
@media (min-width: 50em) { .contents__title { font-size: 2.2em; } }
.contents__title:before { content: ""; background-image: url(../../assets/img/map-marker.svg); position: absolute; left: 0; top: 0px; width: 30px; height: 50px; background-repeat: no-repeat; background-size: 100% auto; }
@media (min-width: 50em) { .contents__title:before { width: 40px; height: 60px; } }

.contents__subtitle { width: 100%; display: block; background: #002664; color: white; text-align: center; text-decoration: none; font-size: 1.2em; padding: .5em; border-radius: 3px; }
@media (min-width: 50em) { .contents__subtitle { font-size: 1.7em; } }

.contents__subtitle__text { margin: 0; padding: 0; }

.priority-list { margin-top: 1em; margin-bottom: 1em; display: block; background-color: #aeeae5; }
@media (min-width: 50em) { .priority-list { width: 48%; } }

.priority-list__term { width: 100%; display: block; }

.priority-list__name { background: #eaab00; display: block; color: #002664; text-decoration: none; font-size: 1.2em; padding: .5em 1em; }
.priority-list__name strong { color: white; margin-right: .35em; }
@media (min-width: 56.25em) { .priority-list__name { font-size: 1.5em; } }

.priority-list__name__text { margin: 0; padding: 0; display: block; }

.priority-list__description { padding: .5em 1em .75em 1em; font-size: 1.1em; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; }
@media (min-width: 50em) { .priority-list__description { font-size: 1.3em; } }

@media (min-width: 50em) { .priority { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; } }

.button { background-color: #002664; color: white; text-decoration: none; padding: .5em 1em; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; margin-top: 2em; display: inline-block; margin-right: .5em; }
@media (min-width: 50em) { .button { font-size: 1.2em; } }

.button--gold { color: #eaab00; }

aside { border: 1px solid #5ec4df; padding: .5em 1em; margin-top: 2em; }
aside p { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; font-size: 1.2em; margin-top: 0; }
aside ul { font-size: 1.2em; margin-top: .5em; }

.quote { width: 80%; }
@media (min-width: 39.5em) { .quote { width: 50%; } }

blockquote { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; margin: 0; padding: 0; }
@media (min-width: 50em) { blockquote { font-size: 1.2em; } }
blockquote:before { content: "“"; }
blockquote:after { content: "”"; }

cite { display: block; text-align: right; margin-top: 1em; font-style: normal; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; }
cite:before { content: "-"; margin-right: .25em; }

.section-default blockquote, .section-default cite { color: white; }

.priority-header { background-color: green; background-size: cover; position: relative; min-height: 300px; }

.priority-header__heading { position: absolute; bottom: 0; background-color: #e5e854; display: inline-block; margin: 0; font-size: 2em; width: 80%; text-transform: none; text-align: right; }
@media (min-width: 39.5em) { .priority-header__heading { width: 50%; } }

.section-default .priority-header__heading { color: #002664; }

.priority-header__heading span { position: absolute; bottom: 0; color: white; left: 3rem; font-size: 3em; line-height: 1; }

.priority-introduction { font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; font-style: italic; }

.section-default .priority-introduction { color: #e5e854; }

.story-header { min-height: 300px; background-size: cover; background-repeat: no-repeat; }

.story-header__title { margin: 0; padding: 0; color: white; font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 900; font-style: italic; letter-spacing: 1px; text-transform: uppercase; }
@media (min-width: 75em) { .story-header__title { margin-left: 3rem; } }
