<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
   <body id="oc-container" class="no-js oc-container">
    <a id="skip-to-content" href="#content">skip to main content</a>
    <div class="oc-pusher">
       {% include menu.html %}
    <div class="page-wrapper">
      {% include header.html %}
      <main id="content" class="animated fadeIn oc-content" role="main">
        {{ content }}
      </main>
      {% include footer.html %}
</div>
</div>
<link href="/dev/assets/css/main.css" rel="stylesheet" type="text/css" media="screen" />
<script>
  // load a file with loadJS
  loadJS( "/dev/assets/js/min/script-min.js" );
</script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PCQNWH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'{{site.url}}/assets/js/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PCQNWH');</script>
<!-- End Google Tag Manager -->
<noscript>
    <style type="text/css">
        .menu {display:block;}
    </style>
</noscript>
</body>
</html>
