<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
   <body id="oc-container" class="no-js">
    <div class="oc-container">
      <a id="skip-to-content" href="#content">skip to main content</a>
      <div class="oc-pusher">
         {% include menu.html %}
        <div class="page-wrapper">
          {% include header.html %}
          <main id="content" class="animated fadeIn oc-content" role="main">
            {{ content }}
          </main>
          {% include footer.html %}
        </div>
      </div>
    </div>
<link href="{{site.url}}/assets/css/main.css" rel="stylesheet" type="text/css" media="screen" />
<script>
  // load a file with loadJS
    loadJS( "{{site.url}}/assets/js/min/script-min.js" );
  {% if page.layout == 'priority' or page.layout == 'default' or page.layout == 'contents' %}
    loadJS( "{{site.url}}/assets/js/min/menu-min.js" );
  {% endif %}
  {% if page.layout == 'video' or page.layout == 'gallery' %}
    loadJS( "{{site.url}}/assets/js/min/gallery-min.js" );
  {% endif %}
</script>
<noscript>
    <style type="text/css">
        .menu {display:block;}
    </style>
</noscript>
{% if page.layout == 'priority' or page.layout == 'story' %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57cb99422b41c627"></script>
<script>
setTimeout( function() {
  $('.at-share-btn').removeAttr("tabindex");
}, 500 );
</script>
{% endif %}
</body>
</html>
