---
layout: default
---

<div class="section-default">
  {% include close-button.html %}
	<div class="inner-wrapper">
		<h2 class="gallery-title"><span>GALLERY:</span> {{page.title}}</h2>
		<section id="gallery" class="gallery owl-carousel">
			{{ content }}
		</section>
    {% for items in site.priorities %}
      {% if items.priority-id == page.priority %}
        <a class="button" href="{{site.url}}{{ items.url }}" id="close">Back to Priority {{ items.priority-id }}</a>
      {% endif %}
    {% endfor %}
	</div>
</div>
