---
layout: default
---

{% assign story = site.stories | where: "story-id", page.story-reference | first %}
{% assign gallery = site.galleries | where: "gallery-id", page.gallery-reference | first %}
{% assign video = site.videos | where: "video-id", page.video-reference | first %}


{% if page.theme=='dark' %}
	<div class="section-default">
{% elsif page.theme=='light' %}
	<div class="section-light">
{% endif %}
		{% include menu-button.html %}
		<header class="priority-header">
		<section class="quote">
		  <blockquote>{{ page.quote }}</blockquote>
		  <cite>{{ page.cite }}</cite>
		</section>
		<h2 class="priority-header__heading"><span>{{ page.priority-id }}</span>Students First</h2>
		<video playsinline loop muted autoplay poster="/dev/assets/img/fountain-poster.jpg" class="priority-header__video" id="bgvid">
		      <source src="/dev/assets/video/fountain-small.webm" type="video/webm">
		      <source src="/dev/assets/video/fountain-small.mp4" type="video/mp4">
		</video>
		<button class="button-pause" id="vidpause">Pause</button>
		</header>
		<script>
		// Pause/Play Embedded Video for Accessibility //

		var vid = document.getElementById("bgvid"),
		pauseButton = document.getElementById("vidpause");
		function vidFade() {
		    vid.classList.add("stopfade");
		}
		vid.addEventListener('ended', function() {
		    // only functional if "loop" is removed
		     vid.pause();
			// to capture IE10
			vidFade();
		});
		pauseButton.addEventListener("click", function() {
		    vid.classList.toggle("stopfade");
			if (vid.paused) {
		vid.play();
				pauseButton.innerHTML = "Pause";
			} else {
		        vid.pause();
		        pauseButton.innerHTML = "Paused";
			}
		})
		</script>
		<div class="inner-wrapper">
			<p class="priority-introduction">{{ page.intro }}</p>
			<div class="priority-content">
				<section class="priority-text">
				<p>{{ content }}</p>
				</section>
				<section class="priority-media">
					<section class="feature-teaser">
						<a class="feature-teaser__link" href="{{ site.url }}/{{ story.url }}">
						<div class="feature-teaser__link__text">
							<h3 class="feature-teaser__header">Feature Story</h3>
							<h4 class="feature-teaser__headline">{{ story.title }}</h4>
							<p class="feature-teaser__summary">{{ story.teaser }}</p>
						</div>
						<div class="feature-teaser__link__image">
						  <img alt="teaser image" src="../../assets/img/headshot.jpg" />
						</div>	
						</a>
					</section>
					<div class="priority-media__gallery">
						<section class="gallery-teaser">
							<a class='gallery-teaser__link' href="gallery.php">
								<img class="gallery-teaser__thumb" src="../../assets/img/gallery.jpg" alt="Gallery Image"/>
								<h3 class="gallery-teaser__headline">{{ gallery.title }}</h3>
							</a>
						</section>
						<section class="video-teaser">
							<a class='video-teaser__link' href="video.php">
								<img class="video-teaser__thumb" src="../../assets/img/gallery.jpg" alt="Gallery Image"/>
								<h3 class="video-teaser__headline">{{ video.title }}</h3>
							</a>
						</section>
					</div>
					<section class="social-sharing">
					  <h4 class="social-sharing__title">Share</h4>
					  <div class="addthis_inline_share_toolbox"></div>
					</section>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57cb99422b41c627"></script>
				</section>
			</div>
	</div>
