---
layout: default
---
<div class="section-dark">
  {% include close-button.html %}
    <div class="inner-wrapper">
      <figure class="video">
        <div class="video-container">
          <iframe class="gallery__video" width="560" height="315" src="{{page.videoURL}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <figcaption class="gallery-caption">
          <h3 class="gallery-caption__title">{{page.title}}</h3>
          <p class="gallery-caption__description">{{page.description}}</p>
        </figcaption>
      </figure>
      {% for items in site.priorities %}
        {% if items.priority-id == page.priority %}
          <a class="button" href="{{site.url}}{{ items.url }}" id="close">Back to Priority {{ items.priority-id }}</a>
        {% endif %}
      {% endfor %}
    </div>
</div>
